// :host{
//     margin: 2px;
//     border: 2px solid blue;
//     border-radius: 5px;
//     display: block;
// }
.crop-image1{
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    img {
        position: absolute;
        top: 25%;
        left: 25%;
        transform: translate(-100%, -25%);
        max-width: 50%;
    }
    img {
        position: absolute;
        top: 25%;
        left: 25%;
        transform: translate(-100%, -25%);
        max-width: 50%;
    }
}
