<mat-toolbar color ="primary">
        <mat-toolbar-row>
                <div class="row between-xs middle-xs footer-row">
                       <p>esto es un parrafo aksjdfh ksdf sdjhfksadfh
                           ajsdfkljshadflkjshadlfkjsadfhlsaf
                       </p>
                        <a  mat-raised-button >
                            <mat-icon>import_contacts</mat-icon>
                            contacto
                        </a>
                </div>        
            </mat-toolbar-row>
</mat-toolbar>

